@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "IBM Plex Mono", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  margin-bottom: 2rem;
}

.playing-area {
  width: 30%;
  height: 50%;
  background-color: #18181b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}

.row {
  width: 100%;
  height: 26%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  background-color: #6666ff;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.box-img {
  width: 90%;
  height: 90%;
  margin: auto auto;
}

.turn {
  margin-top: 2rem;
  font-weight: 400;
}

#my-canvas {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.winner {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: pink;
  z-index: 2;
  font-size: 2rem;
  text-align: center;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.replay {
  border: none;
  background-color: #6666ff;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
